<%
    window = extjs_component(
        "xtype" => "window",
        "id" => "projects",
        "title" => "Project Manager",
        "iconCls" => "silk-calendar",
        "closeAction" => "hide",
        "layout" => "border",
        "height" => 480,
        "width" => 800
    )
 
    workspace = window.add(extjs_component(
        "xtype" => "panel",
        "id" => "workspace",
        "border" => false,
        "margins" => "5 5 5 0",
        "region" => "center",
        "layout" => "card",
        "activeItem" => 0,
        "layoutConfig" =>{
            "layoutOnCardChange" => true
        }
    ))
    extjs_onready(window)
%>
 
<!-- /users/grid -->
<%= window.add(:partial => '/users/grid',
    "region" => 'west',
    "width" => 300,
    "margins" => '5 5 5 5',
    "cmargins" => '5 5 5 5',
    "collapsible" => true
) %>
 
<!-- /tasks/direct -->
<%= workspace.add(:partial => '/tasks/direct',
    "title" => "Wiring up a DirectProvider by hand",
    "bodyStyle" => "padding: 10px"
) %>
 
<%= extjs_render %>
 
<script>
    Ext.onReady(function() {
        var projects = Ext.getCmp('projects');
        new Ext.Toolbar({
            renderTo: 'nav',
            items: [{
                text: 'Projects',
                iconCls: 'silk-calendar',
                handler: function(btn, ev) {
                    projects.show(btn.el);
                }
            }, '-', '->', 'Logged in as Your Mother (<a href="#">Logout</a>)']
        });
    });
</script>
 
<%= extjs_render %>